{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>{% block title %}{% endblock %}</title>

		<link href="{% static 'rm/css/bootstrap.css' %}" rel="stylesheet">
		<link href="{% static 'rm/css/font-awesome.css' %}" rel="stylesheet">
		<link type="text/css" href="{% static 'rm/css/style.css' %}" rel="stylesheet">
	</head>
  
	<body background="FF69B4">
		<div class="navbar navbar-default navbar-static-top">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="{% url 'rm:trashes' %}">
						<i class="fa fa-trash"></i>
						Trashes
					</a>
					<a class="navbar-brand" href="{% url 'rm:operations' %}">
						<i class="fa fa-edit"></i>
						Operations
					</a>
				</div>
			</div>
		</div>
		<div style="background-color: rgba(0, 255, 255, .3);">
			<hr>
			<h1 align="center">{% block header%}{% endblock%}</h1>
			<hr>
		</div>
		{% block content %}{% endblock %}

	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	    <script src="{% static 'rm/js/bootstrap.js' %}"></script>
	</body>
</html>