{% extends "rm/base.html" %}

{% block title %}Create operation{% endblock %}

{% block header%}Create operation{% endblock %}

{% block content %}
	<div class="container">
		<form role="form" action="{% url 'rm:operation_create' %}" method="post">
			<div class="form-group">
				{% csrf_token %}
				{{ form.as_p }}
				<button class="btn btn-success" type="submit">
					<i class="fa fa-check"></i>
					Create
				</button>
			</div>
		</form>

		<form action="{% url 'rm:trashes' %}">
			<button class="btn btn-default" type="submit">
				<i class="fa fa-undo"></i>
				Back
			</button>
		</form>
	</div>
{% endblock %}