{% extends "rm/base.html" %}

{% block title %}Restore operation{% endblock %}

{% block header%}Restore {{operation}}{% endblock %}

{% block content %}
	<div class="container">
		<form role="form" action="{% url 'rm:operation_restore' operation.pk %}" method="post">
			<div class="form-group">
				{% csrf_token %}
				{{ form.as_p }}
				<button class="btn btn-success" type="submit">
					<i class="fa fa-check"></i>
					Restore
				</button>
			</div>
		</form>
	</div>
{% endblock %}