{% extends "rm/base.html" %}

{% block title %}Trashes{% endblock %}

{% block header%}Trashes{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-1">
				<div class="form-group" align="left">
					<form action="{% url 'rm:trash_create' %}">
						<button class="btn btn-success" type="submit">
							<i class="fa fa-plus-circle"></i>
							New trash
						</button>
					</form>
				</div>
			</div>
			<div class="col-md-1">
				<div class="form-group" align="left">
					<form action="{% url 'rm:operation_create' %}">
						<button class="btn btn-success" type="submit">
							<i class="fa fa-plus-circle"></i>
							New operation
						</button>
					</form>
				</div>
			</div>
		</div>
		<table class="table table-hover table-condensed" align="center">
			<tr>
				<th>Path</th>
				<th>Maxtime</th>
				<th>Remove</th>
			</tr>
			{% for trash in trashes %}
				<tr>
					<td><a href="{% url 'rm:trash_detail' trash.pk %}">{{ trash }}</a></td>
					<td>{{ trash.maxtime }}</td>
					<td>
						<form action="{% url 'rm:trash_delete' %}" method="post">
							{% csrf_token %}
							<button class="btn btn-link" name="pk" value={{ trash.pk }} type="submit">
								<i class="fa fa-remove"></i>
							</button>
						</form>
					</td>
				</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}