{% extends "rm/base.html" %}

{% block title %}Trash {{ trash }}{% endblock %}

{% block header%}{{ trash.path }}{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-1">
				<div class="form-group" align="left">
					<form action="{% url 'rm:trash_delete' %}" method="post">
						{% csrf_token %}
						<button name="pk" value={{ trash.pk }} class="btn btn-danger" type="submit">
							<i class="fa fa-remove"></i>
							Delete
						</button>
					</form>
				</div>
			</div>
			<div class="col-md-1">
				<div class="form-group" align="left">
					<form action="{% url 'rm:trashes' %}">
						<button class="btn btn-default" type="submit">
							<i class="fa fa-arrow-left"></i>
							Back
						</button>
					</form>
				</div>
			</div>
		</div>
		<div class="tabs">
			<ul class="nav nav-tabs">
				<li class="active"><a href="#tab-1" data-toggle="tab">Operations</a></li>
				<li><a href="#tab-2" data-toggle="tab">Files</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane fade in active" id="tab-1">
					<table class="table table-hover table-condensed" align="center">
						{% for operation in trash.operation_set.all %}
							<tr>
								<td><a href="{% url 'rm:operation_detail' operation.pk %}">{{ operation.name }}</a></td>
							</tr>
						{% endfor %}
					</table>
				</div> 
				<div class="tab-pane fade" id="tab-2">
					<table class="table table-hover table-condensed" align="center">
						<tr>
							<th>Name</th>
							<th>Old path</th>
						</tr>
						{% for operation in trash.operation_set.all %}
							{% for file in operation.trashfile_set.all %}
								<tr>
									<td>{{ file }}</td>
									<td>{{ file.old_path }}</td>
								</tr>
							{% endfor %}
						{% endfor %}
					</table>
				</div>
			</div>
		</div>
	</div>
{% endblock %}